/* POV style */
.citrusStella_carousel {
  width: 100%;
  position: relative;
  display: none;
  justify-content: flex-start;
  overflow: hidden;
}

.citrusStella_carousel,
.citrusStella_carousel-inner,
.citrusStella_carousel-item {
  height: 300px;
  object-fit: cover;
}

.citrusStella_carousel
  .citrusStella_carousel-inner
  .citrusStella_carousel-item {
  justify-content: flex-start;
  flex: 1;
}

.citrusStella_carousel-inner {
  display: flex;
  transition: all ease 0.5s;
}

.citrusStella_carousel-item {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* indicator styling */
.citrusStella_carousel-indicators {
  position: absolute;
  bottom: 0;
  left: calc(100% / 2 - 52px);
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 5px;
}

.citrusStella_carousel-indicators span {
  display: inline-block;
  border: 2px solid #09205c;
  padding: 7px;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 5px;
}

.citrusStella_carousel-indicators span.active {
  background-color: #09205c;
}

/* banner style */
#citrusStella__hero2 .citrusStella__heroTitle h1,
#citrusStella__hero3 .citrusStella__heroTitle h1 {
  margin: 0 0 10px;
  color: #fff;
}
#citrusStella__hero2 .citrusStella__heroTitle p,
#citrusStella__hero3 .citrusStella__heroTitle p {
  margin: 0 0 15px;
  font-family: "PetcoCircularTT-Regular", arial !important;
  color: #fff;
}
#citrusStella__hero2 .citrusStella__heroTitle button,
#citrusStella__hero3 .citrusStella__heroTitle button {
  background: #fff;
  color: #09205c;
  margin-right: 20px;
}
#citrusStella__hero2 .logo {
  position: relative;
  margin-top: -14%;
  padding-right: 5%;
}
#citrusStella__hero3 .logo {
  position: relative;
  margin-top: -14%;
  padding-right: 10%;
}
#citrusStella__hero2 .logo img {
  width: 100%;
  max-width: 324px;
}
#citrusStella__hero3 .logo img {
  width: 100%;
  max-width: 241px;
}

/* product carousal dog style*/
/* product carousal arrow button style*/
.splide__arrow {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #122359;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: 2.2em;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2.2em;
  z-index: 1;
}

/* tab button style */
.citrusStella-wrapper {
  width: 100%;
  max-width: 1273px;
  margin: auto;
  overflow-x: auto;
}
.citrusStellaTabId {
  width: 1273px;
  overflow-x: auto;
}
.citrusStella__tab-area {
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 26px;
}

.citrusStella__tab-container {
  max-width: 1273px;
  width: 100%;
  margin: 0 auto;
}
.splide__pagination {
  display: none;
}
.citrusStella__dogProduct,
.citrusStella__catProduct {
  max-width: 195px;
  width: 100% !important;
  margin: 0px 9px;
  display: none;
}
.citrusStella-tab-cardImg img {
  max-width: 100%;
}
.citrusStella-tab-card > a {
  text-decoration: none;
  color: #000;
}
.citrusStella-tab-card p {
  font-family: "PetcoCircularTT-Regular", arial !important;
  color: #333333;
  font-size: 13px;
  text-align: left;
  /* padding: 20px 0 20px; */
  margin: 20px 0 10px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 4em; /*standard size is 4em*/
}
a.citrusStella__productCTA {
  text-decoration: underline;
  font-family: "PetcoCircularTT-Bold", arial !important;
  color: #001952;
  font-size: 16px;
  line-height: 22px;
}
/***** best seller section ****/
.citrusStella__dogProducts,
.citrusStella__Products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}
.citrusStella-tab-cardImg {
  padding: 0 10px;
  margin: auto;
}
.citrusTabShow {
  display: block;
}

.citrusStella__tab_item {
  text-transform: uppercase;
  padding: 12px 20px;
  margin: 0px 10px;
  font-size: 14px;
  text-decoration: none;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  color: #6e6b6b;
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

button {
  font-family: "PetcoCircularTT-Regular", arial !important;
}

.citrusStella__tab_item.citrusStella__Dog-active_tab,
.citrusStella__tab_item.citrusStella__cat-active_tab {
  color: #001952;
  border-bottom: 10px solid #001952;
  margin-top: 10px;
  border-radius: 0;
}

.citrusStellaTabId {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #021b4e;
}
/* hide arrow */
.citrusStella_hide_arrow .splide__arrows {
  display: none;
}
/* for hiding arrow set opacity 0 */
.citrusStella-section__tab-content .splide__arrow:disabled {
  opacity: 0;
}
/**************************************/
/************ Media Query  Area*************/
/************************************/

@media all and (min-width: 992px) and (max-width: 1280px) {
}

@media all and (max-width: 1301px) {
  .citrusStella__tab-container {
    width: 90%;
  }

  .citrusStella__dogProduct,
  .citrusStella__catProduct {
    max-width: 210px;
  }
}

@media all and (max-width: 1280px) {
  .citrusStella__tab_item {
    width: 72%;
  }
}

@media all and (max-width: 991px) {
}

@media all and (max-width: 768px) {
  .citrusStella__tab_item {
    width: 100%;
  }

  .citrusStella__dogProduct,
  .citrusStella__catProduct {
    max-width: 235px;
  }
  .splide__arrows {
    display: none;
  }
  a.citrusStella__productCTA {
    text-decoration: underline !important;
  }
}

@media all and (max-width: 575px) {
  .citrusStella__dogProduct,
  .citrusStella__catProduct {
    max-width: 195px;
  }
}

@media all and (max-width: 413px) {
}

@media all and (max-width: 374px) {
}

/* footer style */

#citrusStella__footer {
  background: url(New-img/stella-chews-FooterBackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.citrusStella__footerRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.citrusStella__footerLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.citrusStella__footerLeft img {
  width: 100%;
  max-width: 400px;
}
.citrusStella__in-imageCopy {
  margin: 0;
  padding: 0;
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.citrusStella__footerTextContainer {
  text-align: center;
}
.citrusStella__footerTextContainer p {
  width: 90%;
  max-width: 495px;
  margin: 20px auto;
  font-family: "PetcoCircularTT-Regular", arial !important;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .citrusStella__sectionTitle {
    padding: 0 10px;
  }
  /* Footer responsive*/
  #citrusStella__footer {
    background: #f4ede3;
  }
  .citrusStella__footerRow {
    grid-template-columns: repeat(1, 1fr);
  }
  .citrusStella__footerRow .order1 {
    order: 2;
  }
  .citrusStella__footerRow .order2 {
    order: 1;
    margin: 40px 0 30px;
  }
  .citrusStella__footerLeft {
    background: url(New-img/stella-chews-FooterLeftBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
  }

  .citrusStella__in-imageCopy {
    font-size: 14px;
    line-height: 15px;
  }
}
